.container .adsection{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 15px;
}


.image-container{
  position: relative;
  width: 100%;
  height: 100%;
}

.adsection .adsimg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.4s ease-in-out;
  transform-origin: center;
}


.adsection .adsimg:hover img{
  transform: scale(1.05);
}

.text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.text Button{
  text-transform: capitalize !important;
  color: black;
  font-weight: 600;
  border:1px solid gray;
  width: 50%;
  margin-left: 7rem;
}

/* LEFT alignment */
.text.left {
  top:70px;
  text-align: left;
  left: -110px;
}

/* RIGHT alignment */
.text.right {
    top:70px;
  right: 20px;
  text-align: right;
}

/* CENTER alignment */
.text.center {
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

