.zoom-product {
  display: flex;
  gap: 15px;
  align-items: center;
  align-items: stretch;
}

.zoom-slider {
  width: 15%;
  height: 550px;
  transition: all 0.3s ease-in-out;
}
.product-zoom .swiper-slide {
  /* height: 570px !important; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.product-zoom .swiper-slide img,
.product-zoom .inner-image-zoom {
  height: 100% !important;
  width: auto !important;
  object-fit: contain !important;
}

.product-zoom {
  width: 85%;
  height:550px;
}
.zoom-big-wrapper {
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
  /* border:1px solid black; */
}
.swiper-wrapper {
  height: 100%;
}
.zoom-slider-wrapper {
  padding: 20px 0px;
}
.zoom-slider-wrapper .swiper-button-next {
  bottom: -15px !important;
  right: inherit !important;
  top: inherit !important;
  width: 100% !important;
  height: 30px !important;
  border-radius: 0px;
  background-color: #c0bdbd;
}

.zoom-slider-wrapper .swiper-button-prev {
  top: 37px !important;
  left: 0px !important;
  width: 100% !important;
  height: 30px !important;
  border-radius: 0px;
  background-color: #c0bdbd;
}

.zoom-slider-wrapper .swiper-button-next:hover,
.zoom-slider-wrapper .swiper-button-prev:hover {
  background-color: #ff5252;
}

.zoom-slider-wrapper .swiper-button-next:after {
  transform: rotate(90deg);
}

.zoom-slider-wrapper .swiper-button-prev:after {
  transform: rotate(90deg);
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
}

.item {
  width: 100%;
  height: 115px;
  border: 1px solid transparent;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.zoom-slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.active {
  border-color: #ff5252;
}
