*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  background-color: #f5f0f0;
}
::-webkit-scrollbar{
  width: 13px !important;
  height: 8px !important;
  cursor: pointer;
}
::-webkit-scrollbar-thumb{background-color: #ccc; height: 10px;}
::-webkit-scrollbar-track{background-color: #fff;}
.container{
  width: 95%;
  margin: auto;
}
.text-size{
  font-size: 14px;
}
.bg-org{
  background: #ff5252 !important;
  color:#fff !important;
  text-transform: capitalize !important;
  width: 150px;
  font-size: 18px !important;
}
.bg-org:hover{
  background-color: rgba(0,0,0,0.9) !important;
  color:#ffff !important;
  font-size: 18px !important;
}
.link{
  color:#ff5252;
}
.link-color:hover{
  color: #ff5252;
  cursor: pointer;
}

.list-style li{
  list-style: none;
  
}
.list-style li a{
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.productDetailModel .MuiDialog-paper{
  width: 1200px !important;
  max-width: 1200px !important;
}

.productDetailModel {
  position: relative;
}
.productDetailModel .model-box{
  display: flex;
  /* align-items: center; */
}
.productDetailModel .col1,.col2{
  width: 50%;
}
.productDetailModel .model-btn{
  position: absolute;
  right: 20px;
  background-color: rgb(223, 221, 221);
  height: 40px;
  width: 40px;
  min-width: 40px;
  border-radius: 50%;
}
.productDetailModel .model-btn svg{
  font-size: 20px;
  color:#ff5252;
}
