.angle1{
  width: 40px !important;
  height: 40px !important;
  min-width: 40px !important;
  border: 1px solid rgba(0,0,0,0.1) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 50% !important;
}
.edit-icon{
    color:#000;
    font-weight: 800;
    font-size: 24px !important;
}
.edit-group{
    display: flex;
    align-items: center;
    margin-top: 0.6rem;
    padding: 1rem;
}
.btn-group{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: auto !important;
}

.search{
    width: 100%; height: 40px;
    border:1px solid rgba(0,0,0,0.3);
    font-size: 14px;
    border-radius: 5px;
    color:#000;
    padding: 0.5rem 2.2rem;
}

.search:focus{
    border: 1px solid rgba(0,0,0,0.5);
    outline: none;
}

.header-btn{
    background-color: rgb(80, 80, 252) !important;
    color:#fff !important;
    text-transform: capitalize !important;
    padding: 0.5rem 2rem !important;
    font-weight: 600 !important;
    font-size: 16px !important;
}
.edit-category {
  margin-top: 8px;
}

.edit-group {
  display: flex;
  align-items: center;
  padding: 6px 12px;
}
.sub-dropdown{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.search-text{
    width: 250px !important;
}
.css-jvxs11-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
    width: 250px !important;
}
.btn-groups{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: auto !important;
    margin-right: 1rem;
}