.box {
  padding: 20px 15px;
}
.heading {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.cross {
  font-weight: 800;
  font-size: 28px;
  cursor: pointer;
}

.scroll .list-style li {
  position: relative;
  margin-bottom: 15px;
}

.scroll .list-style li .icon {
  position: absolute;
  right: 5px;
  cursor: pointer;
}

.scroll .submenu li {
  position: relative;
  padding-left: 12px;
  padding-top: 15px;
}

.scroll .submenu1 li {
  padding-left: 12px;
  padding-top: 12px;
}
