.catSlider .swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 15px;
}

.catSlider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2),0 3px 6px rgba(0,0,0,0.2);
  border-radius:10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.catSlider .swiper-slide .item{
  padding: 10px;
  width: 100%;
  height: 100px;
}
.catSlider .swiper-slide img {
  width: 100px;
  height: 100%;
  /* object-fit: cover; */
}
.catSlider .swiper-slide .item h3{
  margin-top: 10px;
  font-size: 18px;
  opacity: 0.8;
}

.catSlider .catSlider .item:hover img{
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}


@media(max-width:992px){
  .catSlider .swiper{
    margin-bottom: 0px;
  }
}