
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-details{
    display: flex;
    gap: 1.2rem;
    background-color: rgb(221, 219, 219);
    padding: 1rem;
}
.product-details .product-part1{
    width: 40%;
    display: flex;
    gap: 1rem;
}
.pro-slider{
    width: 20%;
}
.slider-min{
    height: 500px;
}
.mySwiper{
    width: 100%;
}
.mySwiper .product-slider{
    height: 100%;
    cursor: pointer;
}
.mySwiper .product-slider .slider-img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.slide-opacity{
    opacity: 1;
}
.slide-opacity1{
    opacity: 0.7;
}

.main-slider{
    width: 80%;
    height: 450px;
}
.product-slider1{
    height: 500px;
}

.zoom-container {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff; /* optional, for contrast */
  border-radius: 10px;
  overflow: hidden;
}

.zoom-container .swiper {
  width: 100%;
  height: 100%;
}

.zoom-container .main-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: contain;
}
.swiper-button-prev,
.swiper-button-next {
  display: none !important; /* Hides the buttons completely */
}

.product-part2{
    width: 60%;
    padding: 0.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.product-para{
        margin-top: 0;
    text-align: left;
}
.brand{
    display: flex;
    align-items: center;
    /* gap: 0.5rem; */
}
.product-icon{
    font-size: 1.5rem;
    color:rgb(61, 60, 60);
    opacity: 0.7;
}
.product-brand{
    width: 20%;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}
.box{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.item-name{
    display: inline-block;
    padding: 0.3rem;
    background-color: #fff;
    font-size: 14px;
    font-weight: 500;
}
.product-header{
    color:rgb(49, 49, 248);
}


/* review section */
.product-reviews{
    width: 70%;
}
.review-section .container{
  padding: 15px 20px;
  margin-top: 2rem;
  margin-bottom: 20px;
  display: block;
}
.review-section .descr{
  display: flex !important;
  align-items: center !important;
  gap:40px !important;
  margin-bottom: 15px;
  margin-left: 15px;
}
.review-section .container span{
  font-size: 25px;
  font-weight: 600;
}
.review-section .container span.active{
  color:#5552ff;
  border:0;
}
.shadow{
  box-shadow: 0 3px 6px rgba(0,0,0,0.2),0 3px 6px rgba(0,0,0,0.5);
  padding: 15px 30px;
  border-radius: 10px;
}

.review-section .tabContent .col-md-8{
  width: 100%;
}
.reviewpart-section{
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 20px;
}
.review-section .tabContent{
  box-shadow: 0 3px 6px rgba(0,0,0,0.2),0 3px 6px rgba(0,0,0,0.5);
  padding: 15px 30px;
  border-radius: 10px;
  width: 80%;
}
.review-section .tabContent .reviewCard{
  border:1px solid #5552ff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  /* display: flex; */
}
.review-section .tabContent .reviewCard img{
  width: 100px;
  border-radius: 50%;
}
.review-section .tabContent .reviewCard .image{
  display: flex;
  gap:30px;
}
.review-section .tabContent .reviewCard .reviews{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-between;
  margin-bottom: 10px;
}

.reviewForm{
  background-color: #fafafa;
  padding: 15px 20px;
  border-radius: 10px;
}
.reviewForm .review-input{
  width: 100%;
  margin-top: 10px;
}
.reviewForm .add-btn{
  background-color: #5552ff;
  color:#fff;
  margin-top: 10px;
  text-transform: capitalize;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
}

.rating{
    color:orange;
}
