.product-table{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1rem 1rem;
}
/* .column2{
    border: solid 1px rgba(0,0,0,0.3);
    border-radius: 5px;
    margin-right: 1rem;
}
.column2:focus{
    border: none;
} */
 .Mui-focused fieldset legend{
    display: none !important;
 }
.product-btns{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.product-card{
    margin: 0rem 1rem;
}
.product-btns .product-btn:nth-child(1){
    background-color: rgb(20, 122, 20) !important;
    color:#fff !important;
    text-transform: capitalize !important;
    padding: 0.5rem 2rem !important;
    font-weight: 600 !important;
    font-size: 16px !important;
}
.product-btns .product-btn:nth-child(2){
    background-color: rgb(33, 33, 246) !important;
    color:#fff !important;
    text-transform: capitalize !important;
    padding: 0.5rem 2rem !important;
    font-weight: 600 !important;
    font-size: 16px !important;
}
.products h1{
    color: rgb(62, 60, 60);
}
.form{
    padding: 1rem 2rem;
}
.header-btn{
    background-color: rgb(33, 33, 246) !important;
    color:#fff !important;
    text-transform: capitalize !important;
    padding: 0.5rem 2rem !important;
    font-weight: 600 !important;
    font-size: 16px !important;
}
.pro-para{
    text-align: left;
    margin-top: 0px;
}
.pro-para1{
    text-decoration: line-through;
    color:rgb(88, 128, 88)
}


/* add product css */
.add-product{
    padding: 2rem;
}
.products{
    display: grid;
    grid-template-columns:repeat(1,1fr);
    margin-bottom: 1rem;
}
.products .col h3{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0.2rem;
    color: #000;
}
.search{
    width: 100%; height: 40px;
    border:1px solid rgba(0,0,0,0.3);
    font-size: 14px;
    border-radius: 5px;
    color:#000;
    padding: 0.5rem 2.2rem;
}
.textarea{
    width: 100%; height: 140px;
    border:1px solid rgba(0,0,0,0.3);
    font-size: 14px;
    border-radius: 5px;
    color:#000;
    padding: 0.5rem 2.2rem;
}
.search:focus{
    border: 1px solid rgba(0,0,0,0.5);
    outline: none;
}
.textarea:focus{
    border: 1px solid rgba(0,0,0,0.5);
    outline: none;
}
.product-grid{
    grid-template-columns: repeat(4,1fr);
    gap: 1.5rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.upload{
    width: 100%;
    padding: 1.1rem 0rem;
}
.upload h3{
    margin-bottom: 0.8rem;
}
.upload-file{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 1.5rem;
}

.upload-file .file{
    padding: 0rem;
}
.upload-file .file img{
    width: 100% !important;
    height: 100% !important;
}
.upload-file-wrapper{
    position: relative;
}
.upload-file-wrapper .close-icon{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgb(211, 2, 2);
    top: -15px;
    right: -12px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
}
.upload-file-wrapper .close-icon svg{
    font-size: 17px;
}

.scroll-form{
    max-height: 550px;
    overflow: scroll;
    overflow-y: scroll;
    padding-right: 1rem;
}

.product-loader{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: auto;
    height: 400px;
}

.upload-icon{
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    font-size: 24px;
}

.switch{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}