.checkout{
  padding: 15px 0px;
}
.checkout .container{
  display: flex;
  gap: 10px;
}
.checkout .left-col{
  width: 75%;
}
.checkout .left-col .card{
  background-color: #fff;
  padding: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.checkout .left-col .card .check-form{
  width: 100%;
  margin-top: 10px;
}
.left-col .card .check-form .form{
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
  width: 100%;
}
.left-col .card .check-form .form .col{
  width: 50%;
}
.left-col .card .check-form .form .col .area-part{
  width: 100%;
}

.left-col .card .check-form .form1 h5{
  padding-bottom: 10px;
}
.left-col .card .check-form .form1 .form-col1 .area-part{
  width: 100%;
  margin-bottom: 15px;
}

.checkout .container .right-col{
  width: 30%;
  /* height: 300px; */
}
.checkout .container .right-col .card{
  background-color: #fff;
  padding: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.checkout .container .right-col .card .right-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 0px 8px;
}
.checkout .container .right-col .card .right-item span{
  color:#000;
  font-size: 18px;
  font-weight: 500;
}
.right-col .checkout-box{
  height: 300px;
  overflow-y: scroll;
  overflow-x:hidden;
  padding-right: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
}
.right-col .checkout-box .details .img{
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 3px;
  overflow: hidden;
}
.right-col .checkout-box .details .item{
  display: flex;
  align-items:center;
  gap: 20px;
  padding: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.right-col .checkout-box .details .img img{
  width: 100%;
  border-radius: 3px;
}
.right-col .checkout-box .details .desc{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right-col .checkout-box .details .desc span{
  color:#000;
  font-size: 14px;
}
.checkout-box .btn{
  width: 100%;
  text-transform: capitalize;
  background-color: #ff5252;
  color:#fff;
  font-size: 20px;
}
