.details-container{
  /* width: 60%; */
  padding: 45px 25px;
}
.details-container .details{
  width: 100%;
  padding: 10px;
}
.details p{
  text-align: left;
}
.details-container h1{
  font-size: 30px !important;
  font-weight: 600;
}
.details-container .brands{
  display: flex;
  gap:10px;
  margin-top: 10px;
}
.details-container .brands p{
  opacity: 0.8;
  text-align: left;
}
.review{
  display: flex;
  align-items: center;
  gap: 5;
  cursor: pointer;
  color: #666;
}
.details-container .price span{
  color:#000;
}
.details-container .price{
  display: flex;
  align-items: center;
  margin-top: 5px;
  gap: 30px;
}

.details-container .price .old-price{
  text-decoration: line-through;
  color:gray;
  font-size: 16px;
  font-weight: 500;
}
.details-container .price .new-price{
  font-size:18px;
  color:#ff5252
}
.details-container .price p span,span{
  /* color:green; */
  font-size: 14px;
  font-weight: 500;

}
.details .details-container p{
  font-size: 16px;
  line-height: 25px;
  text-align: left;

}

.details-container .productSize{
  width: 100%;
  margin-top: 10px;
  height: auto;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.details-container .productSize span{
  color:#ff5252;
}
.details-container .productSize ul{
  display: flex;
  align-items: center;
  gap:5px;
  margin-top: 10px;
}
 .details-container .productSize ul li{
  margin-right: 10px;
}
.details-container .productSize ul li a{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  text-decoration: none;
  color: #000;
  border: 1px solid #ff5252;
  border-radius: 10px;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.details-container .productSize ul li a.active{
  background: #ff5252;
  cursor: pointer;
  color: #fff;
}
/* quantity */
.quantity-wrapper{
  display: flex;
  align-items: center;
  gap:20px;
}
.product-details .quant{
  width: 80px;
}
.quantity-wrapper .add-btn{
  background-color: #ff5252;
  color:#fff;
  margin-top: 15px;
  padding: 9px 20px;
  text-transform: capitalize;
  min-width:150px;
  font-size: 18px;
  transform: none !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  writing-mode: horizontal-tb !important;
  white-space: nowrap !important;
}
.quantity-wrapper .add-btn:hover{
  background-color: orange;

}
.quantity-wrapper .add-btn svg{
  font-size: 23px;
  margin-right: 5px;
}

.detail-fea{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}
.detail-fea .wish{
  display: flex;
  align-items: center;
  gap: 3px;
  justify-content: center;
}
.detail-fea .wish .svg{
  font-size: 20px;
  font-weight: 500;

}

 .detail-fea span{
  color:#000 !important;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
 .detail-fea span:hover{
  color:#ff5252 !important;
 }