.container .adsection{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 15px;
}

/* .adsection .adsimg{
  width: 24%;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
} */

.image-container{
  position: relative;
  width: 100%;
  height: 100%;
}

.adsection .adsimg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.4s ease-in-out;
  transform-origin: center;
}

.text{
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* .adsection .adsimg:hover{
  transform: rotate(1deg);
} */

.adsection .adsimg:hover img{
  transform: scale(1.05);
}
