.homeslider{
  padding: 20px 30px;
}
 .homeslider .swiper {
  width: 100%;
  height: 350px;
  border-radius: 20px;
}

.homeslider .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #444; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 100% !important;
}

.homeslider .swiper-slide img {
  display: block;
  width: 100% ;
  height: 100%;
  /* object-fit: cover; */
  border-radius: 20px;
  margin-right: 1rem;
}
.swiper-button-prev,.swiper-button-next{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff5252;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  min-width: 45px;
  box-shadow: 0 1px 3px #0000001f,0 1px 3px #0000003d !important;
}
.swiper-button-prev:after,.swiper-button-next:after{
  font-size: 20px !important;
  color: #fff;
  font-weight: 800;
}


@media(max-width:992px){
  .homeslider{
    padding: 0px 10px;
  }
}