.product-details{
  padding: 15px 0px;
  width: 100%;
}

.product-details .container{
  display: flex;
  gap:20px;
}
.zoom-container{
  width: 40%;
}
.details{
  background: #fff;
}
.details .container{
  display: flex;
  align-items:flex-start;
  gap:30px;
}


/* review section */
.review-section .container{
  padding: 15px 20px;
  margin-bottom: 20px;
  display: block;
}
.review-section .descr{
  display: flex !important;
  align-items: center !important;
  gap:40px !important;
  margin-bottom: 15px;
  margin-left: 15px;
}
.review-section .container span{
  font-size: 25px;
  color:#000;
  font-weight: 600;
}
.review-section .container span.active{
  color:#ff5252;
  border:0;
}
.shadow{
  box-shadow: 0 3px 6px rgba(0,0,0,0.2),0 3px 6px rgba(0,0,0,0.5);
  padding: 15px 30px;
  border-radius: 10px;
}

.review-section .tabContent .col-md-8{
  width: 100%;
}
.reviewpart-section{
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 20px;
}
.review-section .tabContent{
  box-shadow: 0 3px 6px rgba(0,0,0,0.2),0 3px 6px rgba(0,0,0,0.5);
  padding: 15px 30px;
  border-radius: 10px;
  width: 80%;
}
.review-section .tabContent .reviewCard{
  border:1px solid #ff5252;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  /* display: flex; */
}
.review-section .tabContent .reviewCard img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.review-section .tabContent .reviewCard .image{
  display: flex;
  gap:30px;
}
.reviews {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 10px;
}

.reviewForm{
  background-color: #fafafa;
  padding: 15px 20px;
  border-radius: 10px;
}
.reviewForm .review-input{
  width: 100%;
  margin-top: 10px;
}
.reviewForm .add-btn{
  background-color: #ff5252;
  color:#fff;
  margin-top: 10px;
  text-transform: capitalize;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
}

.related-product h1{
  margin-bottom: 0px;
}
.related-product .products{
  padding: 0px;
}
.related-product .products .swiper-wrapper{
  padding: 15px 10px;
}


.loader{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}
.MuiCircularProgress-root{
  color: #ff5252 !important;
}
.add-btn:hover{
  background-color: #000 !important;
  color:#fff !important;
}

.review-input textarea {
  outline: none !important;
  border: none !important;
}

