.card{
    /* margin:0rem 1rem; */
    padding: 1rem ;
}

.card ul li{
    list-style: none;
}
.card .first-cat{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    background-color: #f1f1f1;
    border-radius: 3px;

}
.card .first-cat .first-cat-name{
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 1rem;font-size: 16px;

}
.angle{
  margin-left: auto !important;
  width: 30px !important;
  height: 30px !important;
  min-width: 30px !important;
  border: 1px solid rgba(0,0,0,0.1) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 50% !important;
}
.angle svg{
    color:#000;
    font-weight: 800;
    font-size: 18px;
}
.level-1 > li {
  margin-bottom: 10px;
}

.level-2 {
  margin-left: 25px;
  padding-left: 15px;
  border-left: 1px dotted #ddd;
}

.level-2>li{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.level-3 {
  margin-left: 40px;
  padding-left: 15px;
  border-left: 1px dotted #ccc;
}

.first-cat {
  display: flex;
  justify-content: space-between;
  background: #f3f3f3;
  padding: 14px;
  border-radius: 5px;
}
