.header1{
  background-color: #fff;
}
.top-strip{
  border-top:1px solid gray;
  border-bottom:1px solid gray;
  padding: 10px 0px;
}
.top-strip .container .top-item{
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}
.top-strip .container .top-item .col1,.col2{
  width: 50%;
}

.top-strip .container .top-item .col1 .text-size{
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-top: 0;
}
.top-strip .container .top-item .col2{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.top-strip .container .top-item .col2 .list-style{
  display: flex;
  align-items: center;
  justify-content:center;
  gap:10px;
}
.top-strip .container .top-item .col2 .list-style li a:hover{
  color:#ff5252;
}

.header{
  padding: 15px;
  border-bottom:1px solid gray;
  width: 100%;
}

.header .container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap:40px; */
}
.header .container .col1{
  width: 25%;
}
.header .container .col2{
  width: 40%;
  position: static;
  display: block;
}
.header .container .col3{
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center !important;
  justify-content: space-between;
  gap: 10px;
  min-width: 300px; /* reserve space for user info button */
  z-index: 10;
}

.header .container .col3 .list-style{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: #fff;
  z-index: 2000;
}

.css-d63spj-MuiBadge-root .MuiBadge-badge{
  background-color: #ff5252;
}
.header-icon{
  color:#000;
  font-size: 25px;
  width: 25px;
  text-align: center;
}
.MuiSvgIcon-root{
  fill: orange !important;
  font-size: 24px !important;
}

.myAccount{
  width: 50% !important;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  text-transform: capitalize !important;
  color:#000 !important;
}
.myAccount Button{
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 50%;
  background-color: #f1f1f1;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
}
.myAccount Button svg{
  font-size: 18px;
  color:rgba(0,0,0,0.7);
}
.myAccount .info{
  display: flex;
  flex-direction: column;
  line-height: normal;
}
.myAccount .info h4{
  font-size: 14px;
  color:rgba(0,0,0,0.7);
  cursor: pointer;
  text-align: left;
  justify-content: flex-start;
  text-transform: capitalize !important;
  margin-bottom: 0px;
}
.myAccount .info span{
  color:rgba(0,0,0,0.7);
  font-size: 14px;
  text-align: left;
  justify-content: flex-start;
  text-transform: none;
} 
.menu-item{
  display: flex !important;
  gap:5px !important;
  padding: 8px 0px;
}
.menu-item a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color:rgba(0,0,0,0.8);
  gap:8px;
}
.menu-item svg{
  font-size: 18px !important;
}
.MuiPaper-root{
  width: 200px !important;
}



@media (max-width: 480px){
  .header .container .col1 {
    width: auto;
  }

  .header .container .col1 img {
    width: 100px;         /* fixed visible width */
    height: auto;         /* maintain aspect ratio */
    object-fit: contain;
  }
}
@media(min-width:320px) and (max-width:992px){
  .top-strip .container .top-item .col1 .text-size{
    display: none !important;
  }
  .top-strip .container .top-item .col2 .list-style{
    justify-content: space-between;
  }
  .header .container{
    justify-content: space-between;
  }
  .header .container .col2{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: none;
  }
  .header .container .col3 .list-style{
    gap: 0px;
  }
}