.sidebar{
  position: fixed;
  top:0;
  left: 0;
  background: #fff;
  width: 15%;
  height: 100%;
  border-right: 1px solid rgba(0,0,0,0.1);
  padding: 0.8rem;
  z-index: 50;
}
.sidebar-width1{
  width: 0%;
}
.sidebar .logo{
  padding: 0px 1rem;
  width: 100%;
}
.logo-img{
  width: 50px;
  height: 30px;
}
.sidebar-list{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 1.5rem;
}
.sidebar-list li{
  list-style: none;
}
.sidebar-list li a{
  text-decoration: none;
}
.sidebar-list li Button svg{
  font-size: 20px;
}
.sidebar-list li .side-btn{
  width: 100% !important;
  justify-content: flex-start !important;
  text-transform: capitalize !important;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px !important;
  color: rgba(0,0,0,0.8) !important;
  font-weight: 600 !important;
}
.sidebar-list li Button:hover{
  background-color: #f1f1f1 !important;
}
.angle{
  margin-left: auto;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.angle svg{
  opacity: 0.8;
}
.sub-menu{
  width: 100%;
}
.sub-menu .sub-list{
  width: 100%;
  font-size: 14px;
  font-weight: 400;
}
.sub-btn{
  color:rgba(0,0,0,0.8) !important;
  text-transform: capitalize !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  width: 100% !important;
  display: flex !important;
  justify-content: flex-start !important;
  padding-left: 10px !important;
  gap: 5px !important;
}
.ReactCollapse--collapse {
  transition: height 300ms;
}
.sub-item{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.1);
  display: block;
}
.angle-down{
  transition: all 0.3s ease-in-out;
}
.active{
  transform: rotate(180deg);
}