.prod-detail{
  line-height: 22px;
  background: rgb(243, 238, 238);
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2),0 3px 6px rgba(0,0,0,0.5);
  margin-bottom: 15px;
  position: relative;
}
/* .prod-detail:hover .actions{
  display: block;
  gap: 5px;
} */

.discount{
  position: absolute;
  top:0px;
  left:0px;
  color:#fff;
  background: #ff5252;
  padding: 3px 10px;
  border-radius: 10px;
  z-index: 50;
}
.add-to-cart{
  width: 100% !important;
  border: 1px solid #ff5252 !important;
  background: #faf8f8 !important;
  padding: 5px 10px !important;
  color:#ff5252 !important;
  font-weight: 600 !important;
  margin-top: 1rem;
}
.add-to-cart:hover{
  width: 100% !important;
  border: 1px solid #151515 !important;
  background: #252525 !important;
  padding: 5px 10px !important;
  color:#fff !important;
  font-weight: 600 !important;
  /* margin-top: 1rem; */
}
.actions{
  position: absolute;
  top:20px;
  right:10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  z-index: 2;
}
.group:hover .actions{
  top:10px;
  opacity: 1;
}
.actions .btn-icon{
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 50%;
  background: #fff;
  color: #ff5252;
  transition: all 0.2s ease-in-out;
}
.actions .btn-icon:hover{
  background: #ff5252;
  color: #fff;
}
.actions .btn-icon svg{
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}
.actions .btn-icon svg:hover{
  background: #ff5252;
  color: #fff;
}
.prod-detail img{
  border-radius: 10px;
}
.img-part {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.img-part img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #fff;
}
.top-img{
position: absolute;
top:0px;
left:0px;
opacity: 0 ;
transition: all 0.3s ease-in-out;
width: 100%;
height: 100%;
object-fit: cover;
}
.group:hover .top-img{
opacity: 1;
}
.prod-detail .infor{
  padding: 10px 10px;
}

.prod-detail .infor h6{
  font-size: 14px;
  opacity: 0.8;
}

.prod-detail .infor h6 a{
  font-size: 14px;
  color:#000;
  text-decoration: none;
}
.prod-detail .infor h3{
  font-size: 16px;
  margin-top: 5px;
  font-weight: 500;
  color:rgba(0,0,0,0.9);
  transition: all 0.3s ease-in-out;
}
.prod-detail .infor h3 a{
  font-weight: 500;
  color:rgba(0,0,0,0.9);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  margin-bottom: 5px;
}
.prod-detail .infor h6 a:hover{
  color:#ff5252;
}
.prod-detail .infor h3 a:hover{
  color:#ff5252;
  
}
.prod-detail .price{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 15px;
}
.prod-detail .price .old-price{
  text-decoration: line-through;
  color:gray;
  font-size: 14px;
  font-weight: 500;
}
.prod-detail .price .new-price{
  font-size:16px;
  color:#ff5252
}
.img-part{
  position: relative;
}
.top-img{
  position: absolute;
  top:0px;
  left:0px;
  opacity: 0 ;
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.group:hover .top-img{
  opacity: 1;
}
.infor .MuiRating-root{
  color:gold !important;
}
.quantity-btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 20px;
  border:1px solid rgb(246, 246, 198);
  margin-top: 1rem;
  /* gap: 1rem; */
  padding: 0.1rem 0rem;
}
.quantity-btn .quant-btn{
  width: 35px !important;
  height: 30px !important;
  min-width: 35px !important;
  /* border: 1px solid #ff5252; */
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  background-color: #d4d2d2 !important;
  color:#000 !important;
}

.quantity-btn .quant-btn1{
  width: 35px !important;
  height: 30px !important;
  min-width: 35px !important;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #ff5252 !important;
  color:#fff !important;
}

.image-overlay{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
   background-color: rgba(0,0,0,0.7);
  z-index: 60;
  padding: 1rem;
  border-radius: 10px;
  gap: 0.5rem;
  width: 100%;
}
.overlay-item{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem;
  background-color: rgba(255,255,255,0.8);
  height: 29px;
  width: 35px;
  min-width: 48px;
  border-radius: 3px;
  cursor: pointer;
  color:#ff5252;
}
.tab-color1{
  background-color: #ff5252;
  color:#fff;
}
.tab-color2{
  background-color: rgba(255,255,255,0.8);
}
.overlay-item:hover{
  background-color: rgb(246, 244, 244);
  color: #ff5252;
}
.overlay-close{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 90;
  font-size: 24px !important;
  color:#fff;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  background-color: rgba(255,255,255,0.5);
  border-radius: 50%;

}
.overlay-close.svg{
  font-size: 24px;
}

.list-color{
  background-color: red;
}
@media(max-width:992px){
  
}